<template>
  <v-container>
    <v-row justify="center" align-content="center" align="center">
      <v-col>
        <v-text-field
          label="Votre message"
          placeholder="Salut copain"
          v-model="newMsg"
        ></v-text-field>
      </v-col>
      <v-col>
        <v-btn @click="sendMsg"><v-icon>send</v-icon></v-btn>
      </v-col>
    </v-row>
    <v-list style="max-height: 400px"
       class="overflow-y-auto pa-8">
      <div v-for="(msg, id) in messages" :key="id">
        <p :class="msg.from == 'me' ? 'text-right' : 'text-left'">
          <span :style="msg.from == 'me' ? 'color:blue' : 'color:red'">{{
            msg.from
          }}</span>
          : {{ msg.content }}
        </p>
      </div>
    </v-list>
  </v-container>
</template>

<script>
import Peer from "peerjs";
export default {
  data: () => ({
    newMsg: "",
    messages: [],
    method: null,
    peerId: null,
    peer: null,
    conn: null
  }),
  methods: {
    sendMsg() {
      this.conn.send(this.newMsg);
      this.addMsgToList(this.newMsg, "me");
      this.newMsg = "";
    },
    addMsgToList(msg, from) {
      const message = {
        content: msg,
        from: from
      };
      this.messages.push(message);
    },
    initSender(){

    },
    initialize() {
      this.method = this.$route.query.method;
      this.peerId = this.$route.query.peerId;
      this.peer = new Peer(this.method == "send" ? null : this.peerId);
      if (this.method == "send") {
        this.conn = this.peer.connect(this.peerId);
        this.peer.on("open", () => {
          this.addMsgToList("Connected to " + this.peerId, "Server");
        });
        this.conn.on("data", data => {
          this.addMsgToList(data, "peer");
        });
      } else {
        this.peer.on("open", () => {});
        this.peer.on("connection", c => {
          this.conn = c;
          console.log(this.conn.peer);
          this.addMsgToList("Connected to " + this.conn.peer, "Server");
          this.conn.on("data", data => {
            this.addMsgToList(data, "peer");
          });
        });
      }
    }
  },
  mounted() {
    this.initialize();
  }
};
</script>

<style></style>
