<template>
  <v-container>
    <v-row>
      <v-col cols="2">
        <v-btn @click="goTo(chatPath, methods.send)">Send</v-btn>
      </v-col>
      <v-col cols="2">
        <v-btn @click="goTo(chatPath, methods.receive)">Receive</v-btn>
      </v-col>
      <v-col cols="8"><v-text-field v-model="idField"></v-text-field></v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "home",
  data: () => ({
    chatPath: "/chat",
    idField: "",
    methods: {
      send: "send",
      receive: "receive"
    }
  }),
  methods: {
    goTo(path, method) {
      this.$router.push({
        path: path,
        query: { peerId: this.idField, method: method }
      });
      console.log(path);
      console.log(method);
    }
  }
};
</script>
